img {
    width: 500px;
    height: auto;
}
#mew {
    text-align: center;
    color: black;
    font-weight: bold;
}
#psicologico {
    background-color: #7A61A3;
    color: white;
    width: fit-content;
}
.Volver_a_inicio {
    text-align: center;
    background-color: red;
    color: white;
    display: table;
    margin: 0 auto;
}
